.steps{
    ul li{
        a {
            font-size: 16px;
            font-weight: 600;
            color: $gray;

            span{
                display: none;
            }   
        }
    }
}